<div class="container">
  <ul
    class="nav justify-content-end"
    style="background-color: rgb(0, 115, 168)"
  >
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="/people"
        style="color: white"
        >{{ people }}</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="/city/list"
        style="color: white"
        >{{ city }}</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="/state"
        style="color: white"
        >{{ state }}</a
      >
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
