<h1>Nova Cidade</h1>
<div class="well">
  <form #formCity="ngForm">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="city.name"
        #name="ngModel"
        id="name"
        name="nome"
        minlength="2"
        required
      />
      <div
        *ngIf="name.errors && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!name.errors?.required">Digite o nome da cidade</div>
        <div [hidden]="!name.errors?.minlength">
          A cidade deve conter ao menos 2 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="state">Estado:</label>
      <select class="form-select" [(ngModel)]="city.state">
        <option *ngFor="let state of states" value="state">
          {{ state.name }}
        </option>
      </select>
      <br />
      <button
        type="button"
        (click)="insert()"
        class="btn btn-primary"
        [disabled]="!formCity.form.valid"
      >
        <i class="fa fa-save" aria-hidden="true"></i> Salvar
      </button>
      <a class="btn btn-secondary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </form>
</div>
